@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-slide
      &__image
        height: 100%
        width: 100%
        object-fit: cover
@media (max-width: 992px)
  .container
    max-width: 700px
    .logo
      width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
      margin-bottom: 60px
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .slider
    width: 100%
  .map
    width: 340px
@media (max-width: 768px)
  .container
    max-width: 700px
    margin-left: 34px
    margin-right: 34px
    .logo
      width: 132px
      &__image
        padding-top: 0
        padding-bottom: 3px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
      margin-right: 73px
    &-menu
      padding-top: 22px
      padding-bottom: 23px
      margin-left: 14px
      margin-right: 13px
      height: 60px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .swiper-container
    width: 100%
    height: 450px
    position: relative
    border-radius: 8px
  .slider
    width: 700px
    &-button
      width: 28.85px
      height: 30px
      &--next
        right: 17px
      &--prev
        left: 17px
  .slider
    height: 450px
  .hotel
    &-grid
      padding-bottom: 60px
      margin-bottom: 0
  .booking
    padding: 29px 22px 26px 23px
    height: 210px
    &__pricetag
      line-height: 30px
@media (max-width: 767px)
  .container
    margin: auto
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
    &-grid
      height: 60vw
  .swiper-container
    width: 100%
    height: 60vw
    position: relative
    border-radius: 8px
  .slider
    width: 100%
    height: 480px
    &-button
      width: 28.85px
      height: 30px
      &--next
        right: 17px
      &--prev
        left: 17px
  .hotel
    &-right
      flex-direction: column
      justify-content: flex-start
  .booking
    width: 100%
    margin-bottom: 30px
  .map
    width: 100%
    margin-bottom: 60px
@media (max-width: 576px)
  .navbar
    width: 100%
    &-top
      margin: auto
  .logo
    max-width: 99px
  .hotel-grid
    width: 100%
    margin-right: auto
@media (max-width: 320px)
  .navbar
    &__container
      width: 280px
      margin-right: 20px
      margin-left: 20px
      height: 70px
    &-top
      display: flex
      padding: 25px 0 28px 0
      align-items: flex-start
  .logo
    max-width: 99px
    height: 8px
    &__image
      padding-top: 0
      padding-bottom: 3px
      padding-left: 0
      margin-left: 1px
  .menu
    &-button
      margin-top: 4px
  .breadcrumb
    &__container
      margin-right: 20px
      margin-left: 20px
  .hotel
    padding-top: 5px
    padding-bottom: 0
    &__container
      margin-right: 32px
      margin-left: 20px
      width: 268px
  .stars
    margin-right: 4px
  .swiper-container
    width: 100%
    height: 179px
    position: relative
    border-radius: 8px
  .hotel
    &-grid
      width: 278px
      padding-top: 18px
      padding-bottom: 0
    &-right
      height: 430px
      margin-bottom: 40px
  .booking
    width: 279px
    height: 210px
    padding: 29px 22px 26px 22px
    margin-bottom: 20px
    &__button
      width: 235px
  .slider
    width: 100%
    margin-bottom: 20px
    &-button
      width: 11.47px
      // height: 11.93px
      &--next
        right: 12px
        background-image: url(../img/next-small.svg)
      &--prev
        left: 12px
        background-image: url(../img/prev-small.svg)
  .map
    width: 280px
    height: 173px
    margin-bottom: 0
