*
  box-sizing: border-box
body
  font-family: "Mulish", sans-serif
  background-color: $secondary
  color: $text-color
  // font-family: "Nunito", sans-serif
.container
  width: 1110px
  margin: auto
img
  max-width: 100%
a,
button,
input
  outline: none
  text-decoration: none
